/*
Palette from coolors.co
{"Unbleached Silk":"FCDBCA","Baby Pink":"F7CECB","Orchid Pink":"F1C0CB","Cameo Pink":"ECB3CC","Kobi":"E6A5CC"}
*/

.background {
    background-color: #DCCDE8;
    height: auto;
    padding-top: 1px;
}

.title {
    color: #00100B;
    text-align: center;
    margin-top: 10%;
}


.banners, .activePlayer {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}


.container {
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.btn {
    border: 2px solid #00100B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

p {
    margin: 5px;
    padding: 10px;
}

.NG {
    display: flex;
    justify-content: center;
}

#clearBoard {
    background-color: #D99AC5
}

.alert {
    display: flex;
    width:40%;    
    text-align: center;

}